<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IGX_Document_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="RavenDB" connectionString="Url=http://localhost/cmstrunk/contentstore;Database=IGXContentStore" />
	</connectionStrings>
	<userSettings>
        <IGX_Document_Monitor.Properties.Settings>
            <setting name="DocumentSettings" serializeAs="Xml">
                <value>
                    <DocumentSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <DocumentSetting>
                            <Name>Page Version</Name>
                            <Regex>^PageVersion_x(\d)+.*$</Regex>
                            <ReportDocument>false</ReportDocument>
                        </DocumentSetting>
                        <DocumentSetting>
                            <Name>Assets</Name>
                            <Regex>^a/(\d)+$</Regex>
                            <ReportDocument>false</ReportDocument>
                        </DocumentSetting>
                    </DocumentSettings>
                </value>
            </setting>
        </IGX_Document_Monitor.Properties.Settings>
    </userSettings>
</configuration>